<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/style/css.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <%-include("./partials/navbar.ejs")%>

<div class="container">
<div class="overlay1"> <div class="loading"></div></div>
    <table  class="white padding-2" style="color :black !important;">
        <thead>
          <tr>
              <th>Title</th>
              <th>Price</th>
              <th>Quantity</th>
              <th></th>
          </tr>
        </thead>

        <tbody>
         <%if(products.length>0){%>
            

          <%products.forEach((product)=>{%>
           <tr>
            <td><%=product.title%></td>
             <td><%=product.price%></td>
             <td><%=product.quantity%></td>
             <td ><button class='btn red remover' data-id="<%=product._id%>">Remove</button>
                <a href="/dashboard/product/<%=product._id%>" class="btn green">View</a></td>
             
             </tr>
             <%})%>
             <%}else{%>
                <p>Empty</p>
                <%}%>
        </tbody>
      </table>





</div>
      

      <!--Scripts-->

      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
      <script> M.AutoInit();
       
        document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.fixed-action-btn');
          var instances = M.FloatingActionButton.init(elems, options);
});

//remove product 


document.querySelector("tbody").addEventListener("click",(e)=>{
   
    if(e.target.classList.contains('remover')){
        document.querySelector(".overlay1").style.display='flex';
        const remove_id=e.target.getAttribute("data-id"); 

        const url="/remove-product/"+remove_id
    e.preventDefault();
    
fetch(url,{
    method:'GET',
    headers:{
        "Content-Type":'application/json'
    } 

}).then(response=>{
    if(response.ok){
        return response.json();
    }
}).then(final=>{
    if(final){
        document.querySelector(`[data-id="${remove_id}"]`).parentElement.parentElement.style.display='none'
        document.querySelector(".overlay1").style.display='none';
    }
})

    }
  
 





})
</script>     
</body>
</html>       